html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  color: $body-color;
  font-family: $body-font;
  line-height: 1.5;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-family: $heading-font;
  font-weight: 100;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.8em;
}
h3 {
  font-size: 2em;
}

.container {
  padding: 0 1em;
}

::selection {
  background: #1a262e;
  color: #fff;
}
