.page-header {
  display: flex;
  background: url(../images/john-westrock-706902-unsplash.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  >div {
    margin: auto;
    text-align: center;
    padding: 0 2rem;
    h1 {
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.2);
      letter-spacing: 1px;
      font-size: 10rem;
      font-weight: 100;
    }
    p {
      color: #fff;
    }
  }
}
