.page-header {
  display: flex;
  background: url(../images/niilo-isotalo-379496-unsplash_small.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;

  div {
    margin: auto;

    h1 {
      color: #fff;
    }

    p {
      color: #fff;
    }
  }
}
