.page-navigation {
  background-color: rgba(0,0,0,0.2);
  position: relative;
  width: 100%;
  top: 0;
  font-family: $nav-link-font;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 0.9em;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0.5em 0;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    display: block;
    text-align: right;
    padding: 0.5em;
  }
}
