.page-navigation {
  background-color: #333;
  position: relative;
  width: 100%;
  top: 0;
  font-family: $nav-link-font;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0.5em 0;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #555;
    width: 100%;
    display: block;
    text-align: right;
    padding: 0.5em;
  }
}
