.section {
  margin: 8rem 0;
  padding-top: 2rem;
}

.section__title {
  text-align: center;
  letter-spacing: 2px;
  color: $primary-color;
  font-weight: 100;
  text-transform: uppercase;
}

.section__skills {
  padding: 0;
  list-style: none;
  font-family: $skill-list-font;
  li {
    margin-bottom: 0.7rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.container {
  max-width: $max-width;
  margin: 0 auto;
}


.projects-container {

}

.project-items {
  display: flex;
}
.project-item {
  border: 1px solid lightseagreen;
  flex: 1;

  h3 {
    text-align: center;
    font-size: 1.2rem;
  }
}

.project-item-links {
  list-style: none;
  padding: 0;
  border: 1px solid lightgrey;
  li {
    border: 1px solid lightgrey;
  }
}


@media screen and (max-width: 480px) {
  .project-items{
    flex-direction: column;
  }
}
