.section {
  margin: 8rem 0;
  padding-top: 2rem;
}

.section__title {
  text-align: center;
  letter-spacing: 2px;
  color: $primary-color;
  font-weight: 100;
  text-transform: uppercase;
}

.section__skills {
  padding: 0;
  list-style: none;
  font-family: $skill-list-font;
  li {
    margin-bottom: 0.7rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
