// Colors
$body-color: #343434;
$heading-color: #333;
$footer-background-color: #333;

$page-footer-background-color: #232323;

// Fonts
$body-font: 'Roboto', sans-serif;
$heading-font: 'Roboto', sans-serif;
$nav-link-font: 'Roboto', sans-serif;
