// Colors
$primary-color: #434a38;
$body-color: #343434;
$heading-color: #333;
$footer-background-color: #1a262e;
$page-footer-background-color: #232323;
// Fonts
$body-font: 'Roboto',
sans-serif;
$heading-font: 'Roboto',
sans-serif;
$nav-link-font: 'Roboto',
sans-serif;
$skill-list-font: 'Roboto',
sans-serif;
